@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "roboto";
  }
}

p,
span {
  @apply font-Montserrat font-medium;
}

p {
  @apply text-[1.1rem];
}

section, footer {
  padding: 3.5rem 0;
}
.container {
  margin: auto;
  max-width: 82rem;
  padding: 0 1.5rem;
}
body {
  @apply bg-main-bg text-white font-normal;
}

.map-img {
  background-image: url("../images/map.png");
}

/* evaluation */

.section-wrapper .shadow {
  box-shadow: 0px 2px 45px 4px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 2px 45px 4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 2px 45px 4px rgba(0, 0, 0, 0.65);
}

.footer-gradient {
  background: rgb(0,0,0);
background: linear-gradient(150deg, rgba(0,0,0,1) 0%, rgba(42,27,43,1) 100%);
}


/* FAQ */
.full-height {
  @apply max-h-[4rem];
}
.rotate-arrow {
  @apply rotate-180;
}